<h1>Üyelik Onaylama</h1>
<% form_tag do %>
  <div class="section">
    <h2>Temel Bilgiler</h2>
    <div class="container">
      <div class="label">Onay Kodu: </div>
      <%= text_field :key, "" %>
    </div>
  </div>

  <div class="buttons">
    <%= image_submit_tag("save.gif") %>
  </div>
<% end %>