<h1>Unutulan Şifre İşlemleri</h1>
<% form_tag "/welcome/change_password_with_key" do %>
  <div class="section">
    <h2>Yeni Şifre</h2>
    <div class="container">
      <div class="label">Onay Kodu: </div>
      <%= text_field_tag :key, nil, :value => @code  %>
      <div class="label">Yeni Şifre: </div>
      <%= password_field_tag :new_password, nil %>
      <div class="label">Yeni Şifre Onayı: </div>
      <%= password_field_tag :new_password_confirmation, nil %>
    </div>
  </div>

  <div class="buttons">
    <%= image_submit_tag("save.gif") %>
  </div>
<% end %>
