<h1>Unutulan Şifre İşlemleri</h1>
<% form_tag url_for(:action => "send_change_password_request") do %>
  <div class="section">
    <h2>Temel Bilgiler</h2>
    <div class="container">
      <div class="label">Kullanıcı Adınız: </div>
      <%= text_field :name, "" %>
      <div class="label">E-posta Adresiniz: </div>
      <%= text_field :email, "" %>
    </div>
  </div>

  <div class="buttons">
    <%= image_submit_tag("save.gif") %>
  </div>
<% end %>
